body {
	background-color: #a3d8fd;
}

#title {
	position: relative;
	width: 300px;
	margin: 0 auto;
	/* background-color: #e7fff5; */
	padding: 10px;
	border-radius: 20px;
	font-size: 20px;
	font-weight: bold;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-align: center;
}

.container {
	position: relative;
	width: 300px;
	margin: 0 auto;
	background-color: #e7fff5;
	padding: 20px;
	border-radius: 20px;
	box-shadow: 0 10px 1px 3px burlywood;
}

/*-----------------------------------*/

.statistic {
	position: relative;
	display: flex;
	justify-content: space-between;
	margin: 0 8px 10px;
}

#score {}

#timer {}

#collected-items {}

/*-----------------------------------*/

#game-field {
	margin-left: 4px;
}

/*-----------------------------------*/

.object {
	display: inline-flex;
	width: 40px;
	height: 40px;
	margin-right: 2px;
}

.object-icon {
	font-size: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn {
	display: flex;
	width: 40px;
	height: 40px;
	margin: 0;
	padding: 0;
	border: none;
	background-color: rgba(0, 0, 0, 0.0);
	cursor: pointer;
}

#button {}

/*-----------------------------------*/

.splash-screen {}

#final-text {}

#final-collected {}

#final-score {}

#start-button {
	background-color: #a3d8fd;
	padding: 10px;
	border: none;
	border-radius: 8px;
	font-size: 22px;
	letter-spacing: 0.2px;
	color: #ffffff;
}

/*-----------------------------------*/

.goal-screen {
	position: relative;
	width: 300px;
	margin-top: 30px;
}

#goal-text {}

#start-game {
	display: none;
}

/*-----------------------------------*/

.hide {
	display: none;
}